.product-card {
   border-radius: 8px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   width: 250px;
   transition: 0.3s;
   padding: 5px;
   margin: 20px;
}
.product-card:hover {
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   transition: 0.3s;
}
.price {
   font-size: 1.1em;
   font-weight: bold;
}
.currency {
   font-size: 0.8em;
}
.old-price {
   font-size: 0.9em;
   color: #747575;
   text-decoration: line-through;
   font-weight: 400;
}
.discount {
   font-size: 0.9em;
   font-weight: 400;
   color: red;
}
.rate , .sold {
    font-size: 0.95em;
   color: #747575;
}
.product-img{
    width: 250;
    height: 250;
}
