
.card-front{
  background-image: url(../../assets/Images/credit-card-front.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 25px;
  
}
.card-back{
  background-image: url(../../assets/Images/credit-card-back.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 25px;
  padding: 0;
}

.card-font{
  font-family: 'Orbitron', sans-serif;
}