header{
    color: black;
    backdrop-filter: blur(20px);
    background-color: #ffffff80;
    box-shadow: rgba(0, 0, 0, 0.24) 10px 3px 8px;
    position: fixed;
}
.logo{
    
      transition: width 0.3s ease;

}
.search{
    border: 1px solid rgb(0, 119, 255);
    border-radius: 25px;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.search input {
    width: 100%;
}
.bottom-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
