.navmenu .active {
   color: red;
}
.navmenu a.pending {
   color: blue;
}
.navmenu a.transitioning {
   view-transition-name: my-transition;
}

.nav-link {
   font-size: 1.2em !important;
   font-weight: 400 !important;
   border-radius: 20px !important;
   color: #000000 !important;
   padding: 5px 20px !important;
   transition: 0.3s !important;
}
.nav-link:hover {
   background-color: rgb(241, 241, 241);
   transition: 0.3s;
}
.navmenu {
   display: flex;
   gap: 20px;
}
