.product-price {
   font-size: 2.5em;
   font-weight: bold;
}
hr{
    color: #b7bbbb83;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height:1px;
    border-width:1;

}
.product-old-price {
   font-size: 0.6em;
   color: #747575;
   text-decoration: line-through;
   font-weight: 400;
}
.product-discount {
   font-size: 0.5em;
   font-weight: 400;
   color: red;
}
.small-texts {
   font-size: 0.8em;
   color: #747575;
   font-weight: 400;
}
.product-title{
    font-size: 1.5em;
    line-height: 1.1;
}