.product-price {
   font-size: 2.5em;
   font-weight: bold;
}
.product-old-price {
   font-size: 0.6em;
   color: #747575;
   text-decoration: line-through;
   font-weight: 400;
}
.product-discount {
   font-size: 0.5em;
   font-weight: 400;
   color: red;
}
.small-texts {
   font-size: 0.8em;
   color: #747575;
   font-weight: 400;
}
